*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

main {
  background-color: #fff;
  width: 40vw; }
  @media only screen and (max-width: 1200px) {
    main {
      width: 60vw; } }
  @media only screen and (max-width: 900px) {
    main {
      width: 80vw; } }
  @media only screen and (max-width: 600px) {
    main {
      width: 100vw; } }

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
  justify-content: space-around; }
  @media only screen and (max-width: 900px) {
    body {
      flex-direction: column;
      font-size: 2rem;
      gap: 3rem; } }

ul {
  list-style: none; }

.todo__actions li {
  padding-bottom: 1rem;
  border-bottom: 0.5rem solid transparent; }

.todo__img {
  width: 100%;
  height: 30vh; }

.todo__links {
  color: #fff;
  text-decoration: none; }

.todo__hero {
  position: relative;
  font-family: "Work Sans", sans-serif; }
  .todo__hero h1 {
    color: #fff;
    font-size: 4rem;
    position: absolute;
    left: 10%;
    bottom: 40%;
    letter-spacing: 3px; }
    @media only screen and (max-width: 500px) {
      .todo__hero h1 {
        font-size: 3.5rem;
        position: absolute;
        left: 10%;
        bottom: 35%; } }
    .todo__hero h1 span {
      display: block; }

.todo__container {
  margin-left: 10%;
  width: 80%;
  background-color: #fff;
  transform: translateY(-4.5rem);
  border-radius: 0.5rem;
  padding: 1rem;
  padding-top: 2.5rem;
  box-shadow: 0px 0px 9px -3px #00000a; }
  @media only screen and (max-width: 500px) {
    .todo__container {
      width: 90%;
      margin-left: 5%; } }

.todo__actions {
  font-family: 'Inter', sans-serif;
  background-color: #001f25;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  font-size: 1.7rem;
  padding: 1.5rem 2rem 0 2rem;
  border-radius: 0.5rem; }
  @media only screen and (max-width: 500px) {
    .todo__actions {
      font-size: 1.4rem;
      font-weight: bold; } }

label {
  display: inline-block;
  font-size: 1.7rem;
  margin-bottom: 1.5rem; }

form {
  width: 38rem;
  background-color: #fff;
  padding: 2rem;
  border-radius: 0.5rem; }

.btn-submit {
  padding: 1rem 2rem;
  background-color: #33949b;
  border: none;
  border-radius: 1rem;
  color: #011f25;
  cursor: pointer;
  transition: all 0.4s; }
  .btn-submit:hover {
    background-color: #646464;
    color: #001f25; }

.todotask__input {
  margin-bottom: 4rem; }

svg:hover {
  cursor: pointer; }

svg {
  vertical-align: bottom; }

form .btn {
  text-align: center; }

aside {
  font-family: 'Work Sans', sans-serif; }

textarea {
  width: 100%; }

.todo__task {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  font-weight: 400;
  font-size: 1.6rem;
  padding: 1.5rem 0;
  border-bottom: 1px solid #bcbcbc; }

.todo__text {
  width: 72%;
  position: relative; }

.todo__action--delete {
  width: 9%; }

.todo__strikethru {
  position: relative;
  color: #bcbcbc; }

.todo__strikethru::after {
  content: '';
  position: absolute;
  top: 56%;
  left: -1%;
  width: 80%;
  border-top: solid 1px #bcbcbc; }
  .todo__strikethru::after__action--check {
    margin-top: 1rem; }

.todo__task {
  position: relative; }

.todo__completed {
  opacity: 0;
  z-index: -1;
  position: absolute;
  left: 2.5%;
  top: 26%; }
  @media only screen and (max-width: 500px) {
    .todo__completed {
      left: 1.9%;
      top: 28%; } }

.todo__actions .todo__action {
  border-bottom-color: #399498; }
