:root {
    --orange: rgba(225, 81, 19, 1);
    --light-orange: rgba(225, 81, 19, 0.1);
    --ash: rgba(79, 79, 79, 1);
}

* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-weight: 300;
    background-color: #FCFAFB;
    ;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

@media only screen and (max-width: 68.75em) {
    html {
        font-size: 50%;
    }
}

.row {
    width: 90vw;
    margin: 0 auto;
}

.checkout-nav,
.checkout-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.checkout-nav {
    margin-top: 4rem;
}

.checkout-hero {
    color: var(--ash);
    font-size: 3rem;
    font-weight: 400;
}

.checkout-container {
    gap: 3rem;
}

.nav-toggle {
    color: var(--orange);
    font-weight: 100;
    font-size: 1.3rem;
}

.grid-container {
    display: grid;
    grid-template-columns: 46vw 40vw;
    gap: 10rem;
}

.process-bar {
    margin-top: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.process-follow {
    margin: 0 -1.3rem;
}

.process-textcontent {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.7rem;
    gap: 13rem;
    margin-left: 3.5rem;
}

.content2 {
    margin-left: 1.4rem;
}

.cart-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 19rem;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    padding-bottom: 2rem;
}

.card-title {
    margin-top: 1rem;
    margin-bottom: .7rem;
    width: 90%;
    text-align: center;
}

.cart-img {
    width: 85%;
    margin: 10% 20% 0 20%;
}

.main-col {
    margin-top: 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4rem;
}

.divider {
    margin-top: 3rem;
}

.u-top {
    margin-top: 4rem;
}

.top-cartout,
.middle-cartout,
.bottom-cartout {
    display: flex;
    justify-content: space-between;
    width: 80%;
    align-items: center;
}

.top-cartout {
    margin-top: 2rem;
}

.cartout-title,
.cartout-quantity h5,
.cart-content,
.cart-amount {
    font-size: 1.8rem;
    color: var(--ash);
    font-weight: 100;
}

.cart-content {
    width: 22rem;
    color: var(--ash);
    opacity: 80%;
    text-align: center;
}

.cartout-img {
    width: 6rem;
    height: 7rem;
    display: inline-block;
}

.middle-cartout {
    margin-top: 1.7rem;
    margin-bottom: 3rem;
}

.check-mark {
    background-color: var(--light-orange);
    padding: .6rem 2.5rem;
    border-radius: .3rem;
}

.cartout-quantity {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
}

.counter-num {
    color: var(--ash);
    font-size: 1.8rem;
    position: absolute;
    left: 4rem;
}

.counter-plus {
    margin-left: 1.5rem;
}

.counter-minus {
    margin-right: 3.8rem;
}

.counter {
    position: relative;
}

.cart-amount {
    font-weight: bold;
    font-size: 3rem;
}

.right-col {
    background-color: #fff;
    border-radius: 2rem;
    padding-left: 3rem;
    height: fit-content;
    padding-bottom: 2rem;
    margin-top: 3rem;
}

.cartout-cards {
    margin-top: 7rem;
}


/* Button  Styles */

.btn-inline {
    color: #E05214;
    font-size: 1.2rem;
    border: none;
    background-color: #eed9d0;
    padding: .8rem 1.2rem;
    border-radius: 10rem;
    cursor: pointer;
    transition: all .2s;
}

.btn-inline:hover {
    color: #eed9d0;
    background-color: #E05214;
}

.btn-inline:focus {
    outline: none;
}

.pagination {
    display: inline-block;
    margin-top: 3rem;
}

.paginate {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    position: relative;
    top: -9rem;
}

.results__btn--prev {
    display: flex;
    flex-direction: row-reverse;
}