//Initial Resetting more like typography
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; // 10px = 1rem
}

//Flex BOx basic Rules
@mixin flex-rule {
    display: flex;
    justify-content: center;
    align-items: center;
}

// COLOR VARIABLES
$color-primary: #001f25;
$color-secondary: #fff;
$color-text: #000;
$color-inactive: #bcbcbc;
// FONT VARIABLES
$font-primary: 'Work Sans',
sans-serif;
$font-secondary: 'Inter',
sans-serif;
//Main Styling
main {
    background-color: $color-secondary;
    width: 40vw;
    @media only screen and (max-width: 1200px) {
        width: 60vw;
    }
    @media only screen and (max-width: 900px) {
        width: 80vw;
    }
    @media only screen and (max-width: 600px) {
        width: 100vw;
    }
}

body {
    @include flex-rule();
    height: 100vh;
    background-color: #f5f5f5;
    justify-content: space-around;
    @media only screen and (max-width: 900px) {
        flex-direction: column;
        font-size: 2rem;
        gap: 3rem;
    }
}

ul {
    list-style: none;
}

.section__container {}

.todo__actions li {
    padding-bottom: 1rem;
    border-bottom: 0.5rem solid transparent;
}

.todo {
    &__img {
        width: 100%;
        height: 40vh;
    }
    &__links {
        color: $color-secondary;
        text-decoration: none;
    }
    &__hero {
        // background-image: url('../img/nidheesh-kavalan-Ha501MB_XE8-unsplash\ 1.jpg');
        position: relative;
        font-family: $font-primary;
        h1 {
            color: #fff;
            font-size: 4rem;
            position: absolute;
            left: 10%;
            bottom: 40%;
            letter-spacing: 3px;
            @media only screen and (max-width: 500px) {
                font-size: 3.5rem;
                position: absolute;
                left: 10%;
                bottom: 27%;
            }
            span {
                display: block;
            }
        }
    }
    &__container {
        margin-left: 10%;
        width: 80%;
        background-color: $color-secondary;
        transform: translateY(-4.5rem);
        border-radius: 0.5rem;
        padding: 1rem;
        padding-top: 2.5rem;
        box-shadow: 0px 0px 9px -3px rgba(0, 0, 10, 10%);
        @media only screen and (max-width: 500px) {
            width: 90%;
            margin-left: 5%;
        }
    }
    &__actions {
        font-family: 'Inter', sans-serif;
        background-color: $color-primary;
        color: $color-secondary;
        @include flex-rule();
        justify-content: space-between;
        font-size: 1.7rem;
        padding: 1.5rem 2rem 0 2rem;
        border-radius: 0.5rem;
        // margin: 0 1rem 0 0;
        @media only screen and (max-width: 500px) {
            font-size: 1.4rem;
            font-weight: bold;
        }
    }
}

label {
    display: inline-block;
    font-size: 1.7rem;
    margin-bottom: 1.5rem;
}

form {
    background-color: #fff;
    padding: 2rem;
    border-radius: 0.5rem;
}

.btn-submit {
    padding: 1rem 2rem;
    background-color: #33949b;
    border: none;
    border-radius: 1rem;
    color: #011f25;
    cursor: pointer;
    transition: all 0.4s;
    &:hover {
        background-color: rgb(100, 100, 100);
        color: #001f25;
    }
}

.todotask__input {
    margin-bottom: 4rem;
}

svg:hover {
    cursor: pointer;
}

form .btn {
    text-align: center;
}

aside {
    font-family: 'Work Sans', sans-serif;
}

//Task Styling
.todo {
    &__task {
        @include flex-rule();
        justify-content: space-around;
        font-weight: 400;
        font-size: 1.6rem;
        padding: 1.5rem 0;
        border-bottom: 1px solid $color-inactive;
    }
    &__text {
        width: 72%;
        position: relative;
    }
    &__action--delete {
        width: 9%;
    }
    //////////-----A lot of modifications has to be done here to be able to  determine the width  of  the text before striking  thru
    &__strikethru {
        position: relative;
        color: $color-inactive;
    }
    &__strikethru::after {
        content: '';
        position: absolute;
        top: 56%;
        left: -1%;
        width: 80%;
        border-top: solid 1px $color-inactive;
        &__action--check {
            margin-top: 1rem;
        }
    }
}

//------JavaScript Stylings
.todo__task {
    position: relative;
}

.todo__completed {
    // display: ;
    opacity: 0;
    z-index: -1;
    position: absolute;
    left: 2.5%;
    top: 26%;
}

.todo__actions .todo__action {
    border-bottom-color: #399498;
}